body {
    margin: 0;
    background-color: #fff;
    text-align: center;
    font-family: 'Open Sans', Arial;
}

#main {
    font-family: 'Open Sans', Arial;
}

#itinerary {
    width: 50%;
    height: 100%;
    float: right;
}

#city_snippet {
    width: 70%;
    margin: 10px auto;
}

#city_name {
    font-size: 36px;
    font-weight: bold;
    padding: 15px;
}

#city_desc {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#city_search {
    width: 60%;
    margin-top: 18%;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Open Sans", Arial;
    padding: 16px 15px 16px 24px;
    border: solid 1px #aaa;
    border-radius: 30px;
    outline-width: 0;
}

#tab-container {
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.tab-select {
    float: left;
    width: 200px;
    padding: 8px;
    vertical-align: middle;
    background-color: #666;
    color: #fff;
    margin-right: 2px;
}

#start_date {

}

.day-tab {
    width: 100%;
    height: 100%;
}

.tab-select {

}

#t-contain {
    width: 100%;
}

.place {
    width: 90%;
    padding: 15px;
    margin: 20px;
}

.img {
    max-width: 100px;
    max-height: 70px;
    float: left;
    width: 30%;
}
.img1 {
    width:100%;
    height:100%;
}

.desc {
    float:left;
    width: 70%;
    
}

.place-name {

}

.place-sc

#submit_button {
    margin-top: 20px;
    padding: 10px;
}